* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  display: flex;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* left container */
.left-container {
  height: 100%;
  background: no-repeat center/cover url("./img/background-img.jpg");
  flex: 1;
  position: relative;
}

.logo-container {
  display: flex;
  height: 15%;
  background-color: rgb(0, 0, 0, 0.8);
  font-size: 5rem;
  color: white;
  justify-content: center;
  align-items: center;
}

.img-credits {
  position: absolute;
  width: 100%;
  color: white;
  bottom: 10px;
  text-align: center;
}

/* right container */
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;
  flex: 2;
}

.right-container > .info {
  outline: 2px solid green;
}

form {
  outline: 2px solid cyan;
}

label {
  display: block;
}

