* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  display: flex;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 250px;
}

/* left container */
.left-container {
  height: 100%;
  background: no-repeat center/cover url("./img/background-img.jpg");
  flex: 1;
  position: relative;
}

.logo-container {
  display: flex;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 5rem;
  color: white;
  justify-content: center;
  align-items: center;
}

.img-credits {
  position: absolute;
  width: 100%;
  color: white;
  bottom: 10px;
  text-align: center;
}

/* right container */
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;
  flex: 2;
  background-color: rgba(54, 194, 227, 0.10);
}

.right-container > .info {
  padding: 20px 40px;
  font-weight: bold;
  font-size: 1.3rem;
}

.right-container form {
  padding: 20px 40px;
  background-color: white;
}

form > div {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 60px;
}

label, .submit-container {
  display: block;
}

.submit-container button {
  margin-bottom: 5px;
}

/* form styling */
form label {
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: rgb(94, 94, 94);
}

form input, form input:required {
  font-size: 1rem;
  padding: 4px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;

}

form input:focus {
  outline: none;
  border: 1px solid rgb(12, 12, 255);
  box-shadow: 2px 2px 3px #ccc;
}

.submit-container button {
  width: 200px;
  padding: 7px;
  background-color: #e35736;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 3px #ccc, -2px -2px 3px #ccc;
}

.submit-container button:hover {
  background-color: #e44623;
  cursor: pointer;
}

/* .submit-container button:active {
  background-color: #18834c;
} */

.submit-container button:active {
  color: #e35736;
  background-color: white;
}

form input[type="password"]:invalid {
  border: 1px solid red;
}

form p {
  color: rgb(94, 94, 94);
  margin-bottom: 20px;
}

